<div class="gridWrapperDivider"><!-- Start Grid Wrapper -->
  <div class="Grid Grid--fit Grid--withGutter"><!-- Start Grid -->
    <div class="Grid-cell--100"><!-- Start Grid Cell -->
      <h3>Banner Preview</h3>
      <p class="description">Once your have filled out the form above, add your background image or color below and generate your final banner.</p>

      <div class="banner-preview" id="bannerPreview">
        <h2 class="bannerHeadline" id="headline">This is a headline</h2>
        <p class="subhead" id="subhead">This is the subhead for the banner</p>
        <a class="bannerBTN" id="bannerCTA">lorem ipsum</a>
        <p class="disclaimer" id="disclaimer">This is the disclaimer for the banner</p>
      </div>

    </div><!-- End Grid Cell -->
  </div><!-- End Grid -->
</div><!-- End Grid Wrapper -->
